.app {
  // width: 428px;
  padding-top: 00px;
  font-family: 'Roboto Mono', sans-serif;

  .menu-holder {
    padding: 0px 0px 0px 0px;

    button {
      background-color: #444;
      color: white;
      border: none;
      border-radius: 0px;
      padding: 12px;
      margin: 0px;
    }

    button.active {
      background-color: white;
      color: black;
      border: none;
      border-radius: 0px;
    }
  }

  .graph-group-name {
    text-align: left;
    margin: 0px;
    padding: 10px 0px 10px 3px;
    font-size: 13px;
    text-transform: uppercase;
    // font-weight: 600;
    color: white;
  }

  .graphs {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
  }
}